{% if latest_question_list %}
    <ul>
    <!-- note: "question.choice_set.all" is interpreted as a function call -->
    {% for question in latest_question_list %}

        {# hardcoded_urls = BAD --------------------------------------#}

            {# <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> #}

        {# softcoded_urls = MEDIOCRE ---------------------------------#}

            {# <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> #}

        {# namespaced_urls = SUPERIOR_INTELLIGENCE -------------------#}

            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
