{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block navbar %}
    {% include "partials/_navbar.html" with active_link="contact" %}
{% endblock navbar %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Contact View</h1>

            {% if confirmed_message %}
                {{ confirmed_message }}
            {% else %}
                <form method="POST" action="">
                    {% csrf_token %}
                    {# {{ form.as_p }} #}
                    {{ form|crispy }}
                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
