{% extends "layout.html" %}


{% block title %} {{ course.title }} {% endblock title %}

{% block content %}
    <article>
        <h2>{{ course.title }}</h2>
        {{ course.description }}

        <section>
            {% for step in course.step_set.all %}
                <a href="{% url "courses:step_detail" course_pk=step.course.id step_pk=step.id %}"><h3>{{ step.title }}</h3></a>
                {# <a href="{% url "courses:step_detail" step.course.id step.id %}"><h3>{{ step.title }}</h3></a> #}
                {{ step.description }}
            {% endfor %}
        </section>
    </article>
{% endblock content %}
