{% extends "layout.html" %}


{% block title %} {{ step.title }} - {{ step.course.title }} {% endblock title %}

{% block content %}
    <article>
        <h2>Course Title: <a href="{% url "courses:course_detail" course_pk=step.course.pk %}">{{ step.course.title }}</a></h2>
        {# <h2>Course Title: <a href="{% url "courses:course_detail" course_pk=step.course.id %}">{{ step.course.title }}</a></h2> #}
        <h3>Step Title: {{ step.title }}</h3>
        Step Description: {{ step.description }}
        Step Content: {{ step.content|linebreaks }}
    </article>
{% endblock content %}
